{namespace Templates.DeeplyNestedListItem}

/**
 */
{template .content}
	<div class="row">
		<div class="col-md-12">
  			{delcall DeeplyNestedListItem.children data="all" /}
		</div>
	</div>
{/template}

/**
 * @param children
 */
{template .children}
	{$children}
{/template}
