{namespace List}

/**
 * @param items
 */
{template .render}
	<div class="list">
		{foreach $item in $items}
			<div class="row">
				<div class="col-md-12">
					<span key="item{index($item)}">
						{$item}
					</span>
				</div>
			</div>
		{/foreach}
	</div>
{/template}
