{namespace Templates.NestedList}

/**
 * @param id
 * @param items
 */
{template .render}
	<div id="{$id}">
		{foreach $item in $items}
			{call Templates.NestedListItem.render}
				{param id: $id + '-item' + index($item) /}
				{param text: $item /}
			{/call}
		{/foreach}
	</div>
{/template}
