{namespace Templates.NestedList}

/**
 * @param id
 * @param items
 */
{template .content}
	<div id="{$id}">
		{foreach $item in $items}
			{call Templates.NestedListItem.content}
				{param id: $id + '-item' + index($item) /}
				{param text: $item /}
			{/call}
		{/foreach}
	</div>
{/template}
