{namespace Templates.NestedListItem}

/**
 * @param id
 * @param text
 */
{template .content}
	<div class="row">
		<div class="col-md-12">
			{call .text data="all" /}
		</div>
	</div>
{/template}

/**
 * @param id
 * @param text
 */
{template .text}
	<span id="{$id}-text">{$text}</span>
{/template}
