{namespace Templates.NestedList}

/**
 */
{template .content}
	{delcall NestedList.rows data="all" /}
{/template}

/**
 * @param id
 * @param items
 * @param inverted
 */
{template .rows}
	{for $index in range(length($items))}
		{let $itemIndex: $inverted ? length($items) - $index - 1 : $index /}
		{delcall NestedListItem}
			{param id: $id + '-item' + $itemIndex /}
			{param label: $items[$itemIndex].label /}
		{/delcall}
	{/for}
{/template}
