{namespace Templates.NestedListItem}

/**
 */
{template .content}
	<div class="row">
		<div class="col-md-12">
			<span>{delcall NestedListItem.label data="all" /}</span>
		</div>
	</div>
{/template}

/**
 * @param label
 */
{template .label}
	{$label}
{/template}
